@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

:root {
}

body {
  margin: 0px;
  font-family: "Roboto", "sans serif";
}

body,
html {
  font-size: 16px;
}

main {
  padding: 0 0px;
}

header {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  text-align: center;
  box-shadow: 1px 3px 1px 0 lightgray;
  padding: 0.02px;
  margin: 0px;
}

.fa-arrow-left {
  margin-right: 0px;
}

.fleche {
  display: flex;
  align-items: baseline;
  margin-left: 150px;
}

.ohmyfood h1
{
  margin-left:  520px;
}


/*Couverture*/

.couverture {
  width: 100%;
}

.image_couverture {
  max-width: 100%;
  max-height: 40%;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 70%;
}

/*Localisation*/

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  text-align: center;
  padding: 10px;
  gap: 16px;
}

.fa-solid.fa-location-dot {
  font-size: 20px;
}

/*Explorer et réserver*/

.reserver {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px;
}

.reserver h2 {
  margin-top: 40px;
  font-size: 35px;
}

.reserver p {
  font-size: 28px;
}

.button {
  font-weight: 300;
  font-size: 18px;
  padding: 20px 20px;
  border: none;
  border-radius: 32px;
  margin-top: 16px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom right, #e771da, #a35bdc);
  color: white;
  box-shadow: 5px 5px 20px #cfcfcf;
}

/*Fonctionnement*/

.explication h2 {
  margin-left: 205px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.explication ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  margin-right: 40px;
}

.explication li {
  background-color: #f3f3f3;
  padding: 20px 25px;
  border-radius: 32px;
  box-shadow: 2px 1px 8px -3px black;
  font-weight: bold;
  font-size: 20px;
}

.explication li i {
  margin-right: 15px;
  border-radius: 50%;
  margin-left: 50px;
}

.etapes {
  width: 30px;
  height: 10px;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  margin: -40px;
  padding: 8px 15px 8px 15px;
}

/*Liste restaurants*/
.restaurants {
  background-color: #f3f3f3;
  margin-top: 70px;
  height: 1000px;
}

.restaurants h2 {
  margin-left: 205px;
  margin-bottom: 30px;
  padding-top: 50px;
}

.restaurants_conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 60px;
}

.restaurants_menu {
  width: 35%;
  height: 385px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 6px var(--lightgrey);
}

.image_cardresto {
  border-radius: 20px 20px 0 0;
  height: 320px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}

.nouveau {
  display: flex;
  justify-content: right;
  position: absolute;
  margin-top: 21px;
  margin-left: 440px;
  background-color: #99e2d0;
  color: black;
  padding: 7px 17px;
  border-radius: 3%;
}

.info_cardresto {
  width: 100%;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
}

.restaurant_nom {
  width: 100%;
  margin-right: 260px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 20px;
  gap: 10px;
  font-size: 18px;
}

.restaurant_nom1 {
  font-weight: bold;
}

.coeur  {
  display: flex;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 33px;
  position: relative;
  cursor: pointer;
  
}

.fa-regular {
  margin-left:-33px;
}



/*Liste restaurants*/
.restaurants {
  background-color: #f3f3f3;
  margin-top: 70px;
  height: 1000px;
}

.restaurants h2 {
  margin-left: 205px;
  margin-bottom: 30px;
  padding-top: 50px;
}

.restaurants_conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 60px;
}

.restaurants_menu {
  width: 35%;
  height: 385px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 6px var(--lightgrey);
}

.image_cardresto {
  border-radius: 20px 20px 0 0;
  height: 320px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}

.nouveau {
  display: flex;
  justify-content: right;
  position: absolute;
  margin-top: 21px;
  margin-left: 440px;
  background-color: #99e2d0;
  color: black;
  padding: 7px 17px;
  border-radius: 3%;
}

.info_cardresto {
  width: 100%;
  margin-right: 0px;
  display: flex;
  margin-top: 0px;
}

.restaurant_nom h3 {
margin-top: 5px;
}
.restaurant_nom {
  margin-right: 0px;

  margin-top: 0px;
  margin-left: 20px;
  gap: 20px;
  font-size: 18px;
}

.restaurant_nom1 {

  
  font-weight: bold;
}

.restaurant_nom2 {
  margin-top: -20px;
}


.coeur {
  margin-left: 70px;
}

.violet {
  color:transparent;
  background:linear-gradient(to bottom right, #e771da, #a35bdc);
  background-clip:text;
  -webkit-background-clip:text;
  height: 50px;
  opacity: 0;
  }

.violet:hover {
  opacity: 1;
  transform: scale(1.1);
  transition:  all .1s;
  animation-name: remplir;
  animation-duration: 1s;
}

@keyframes  remplir {
  from {
   height: 0px;
  }

  to {
  height: 50px;
  }
}









/*Menus restaurants*/
.restaurant_titre {
  display: flex;
  justify-content: space-around;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-top: 30px;
}

.restaurant_titre h2 {
  width: 100%;
  margin-left: 40px;
}
.restaurant_titre i {
  margin-right: 35px;
  margin-top: 30px;
  font-size: 35px;
}

.menus button {
  width: 15%;
  font-weight: 300;
  font-size: 18px;
  border: none;
  border-radius: 32px;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: 540px;
  background: linear-gradient(to bottom right, #e771da, #a35bdc);
  color: white;
  box-shadow: 5px 5px 20px #cfcfcf;
}

.menus {
  width: 80%;
  background-color: #f3f3f3;
  border-radius: 35px 35px 0 0;
  margin-left: 150px;
  margin-top: -100px;
  position: relative;
}

.ligne_verte {
  padding: 2px 30px;
  background-color: #99e2d0;
  margin-left: 2px;
  margin-top: -35px;
  position: absolute;
}

.menu_restos h3 {
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 17px;
}

.menu_restos{
  gap: 0px;
}

.menu_resto {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 150px;
  gap: 20px;
}

 .card_resto{
  width: 100%;
  background-color: white;
  padding: 0px 0px 0px 10px;
  margin-right: 20px;
  margin-bottom: 25px;
  border-radius: 20px;
  box-shadow: 2px 1px 8px -3px black;
  font-weight: bold;
  font-size: 16px;
  gap: 0px;
}

.menus_conteneur {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: center;
  margin-top: 40px;
}

.info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 20px;
  margin-left: 0px;
}

.nom1 {
  display: flex;
  width: 100%;
  font-weight: bold;
  margin-top: 0px;
  font-size: 18px;
  
}

.nom2 {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
 font-size: 16px;
  font-weight: normal;
 
}


.nom3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px;
}


.prix {
  display: flex;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.info_card {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
 cursor: pointer;
 transition: margin-right .5s;
}

.info_card .validation {
  width: 25%;
  margin-right: -100px;
  display: flex;
  align-items: center;
  border-radius: 0 15px   15px  0;
  background-color: #99E2D0; 
  cursor: pointer;
  transition: margin-right 1s;
}

.info_card:hover  .validation:hover{
  margin-right: 0px;
}



 



/*Footer*/
.footer {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
  color: white;
  background-color: #353535;
}

footer img {
  filter: invert(100%);
  margin-top: 17px;
  margin-bottom: 15px;
  width: 8%;
  height: 10%;
}

#ohmyfood {
  font-size: 17px;
  font-family: "Shrikhand", cursive;
}

#proposer i {
  margin-right: 20px;
  margin-bottom: 10px;
}

#devenir i {
  margin-right: 14px;
  margin-bottom: 10px;
}

#mentions {
  margin-bottom: 10px;
}

#contact {
  margin-bottom: 10px;
}
