@media screen and (max-width: 991px) /*Pour les tablettes*/ {
    

  body,
  html {
    font-size: 16px;
  }
  

  
  header {
    font-size: 18px;
  }
  
  .fa-arrow-left {
    margin-right: 0px;
  }
  
  .fleche {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
  }
  
  .ohmyfood h1
  {
    margin-left:  240px;
  }
  
  
  /*Couverture*/
  
  .couverture {
    width: 100%;
  }
  
  .image_couverture {
    height: 400px;
  }
  
  /*Localisation*/
  
  .localisation {
    font-size: 14px;
  }
  
  .fa-solid.fa-location-dot {
    font-size: 20px;
  }
  
  /*Explorer et réserver*/
  
  .reserver h2 {
    font-size: 28px;
  }
  
  .reserver p {
    font-size: 24px;
  }
  
  .button {
    font-size: 16px;
  }
  
  
  /*Fonctionnement*/
  
  .explication h2 {
   margin-left: 315px;
  }
  
  .explication ul {
    gap: 30px;

  }
  
  .explication li {
    width: 50%;
    padding: 25px 0px;
    border-radius: 20px;
    font-size: 18px;
  }

  .explication li i {
    margin-right: 25px;
  }
  
  .etapes {
    padding:  8px 15px 8px 15px;
    margin: -15px;
  }
  
  
  /*Liste restaurants*/
  .restaurants {
    height: 800px;
  }
  
  .restaurants h2 {
    margin-left: 60px;
  }
  
  
  .restaurants_menu {
    width: 40%;
    height: 280px;
  }
  
  .image_cardresto {
    height: 210px;
  }
  

  
  /*Menus restaurants*/
  .restaurant_titre h2 {
    margin-left: 10px;
  }
  
  
  .menus button {
    width: 20%;
    margin-left: %;
    margin-top: 50px;
  margin-bottom: 40px;
  }
  
  .menus {
    width: 100%;
    margin-left: 0px;
    margin-top: -100px;
  }
  
  .ligne_verte {
    padding: 2px 30px;
    background-color: var(--Tertiaire);
    margin-top: 55px;
    position: absolute;
    margin-left: 7px;
  }
  
  .menu_restos h3 {
    margin-left: 7px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 17px;
  }

  
  .menu_restos {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
  }
  
  .menus_conteneur {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  
.prix {
  padding-right: 20px; 
  }
  

  .fa-check {
    margin-left: 20px;
  }  


 .info_card .validation {
    width: 80px;
    margin-right: -80px;
  } 
  
  /*Footer*/
  
  footer img {
    width: 15%;
  }
  
}