@media screen and (max-width: 767px) /*Pour les téléphones*/ {

  
  .fa-arrow-left {
    margin-right: 0px;
  }
  
  .fleche {
    display: flex;
    align-items: baseline;
    margin-left: 10px;
  }
  
  .ohmyfood h1
  {
    margin-left:  20px;
  }
  
  /*Loading spinner*/
  .spinner  {
    top: 430px;
    left: 130px;
  }
  
  /*Couverture*/
  
  .image_couverture {
    height: 350px;
  }
  
  
  /*Explorer et réserver*/
  
  .reserver h2 {
    font-size: 28.5px;
  }
  
  .reserver p {
    font-size: 19px;
  }

  

  /*Fonctionnement*/

  .explication {
    padding: 30px  18px;
    padding-bottom: 0;
  }
  
  .explication h2 {
    margin-left: 0px;
  }
  
  .explication ul {
    gap: 35px;
    margin-right: 0;
    padding: 0;
  }
  
  
  .explication li {
    width: 100%;
    padding: 25px 0;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .explication li i {
    margin-right: 10px;
    margin-left: 20px;  
  }

  .etapes {
    padding:  8px 15px 8px 15px;
    margin: -15px;
  }
  
  
  /*Liste restaurants*/
  .restaurants {
    padding: 30px  15px;
    height: 1200px;
  }
  

  .restaurants_conteneur {
   display: flex;
   flex-direction: column;
   gap: 30px;;
  }
 
  
  .restaurants_menu {
    width: 100%;
    height: 240px;
    margin-left: 0px;
  }

  .restaurant_nom {
    margin-left: 6px;
    font-size: 16px;
  }
  .restaurant_nom1 {
    font-size: 14px;
    }  
    
  .coeur  {
  margin-top: 7px;
  margin-right: 5px;
  font-size: 25px;
  }
  
 .fa-regular {
  margin-left:-25.45px;
  }

  .image_cardresto {
    height: 180px;
  }
  
  
  /*Menus restaurants*/
   
  .restaurant_titre {
    font-size: 14px;  
  }

  .restaurant_titre i {
    margin-right: -4.7px;
    font-size: 30px;
  }

  .restaurant_titre h2 {
    margin-right: -50px;
    margin-left: 10px;
  }
  
  .menus button {
    width: 48%;
    margin-left: 30%;
    margin-top: 50px;
  margin-bottom: 40px;
  }
  
  .menus {
    width: 100%;
    margin-left: 0px;
    margin-top: -100px;
  }
  
  .ligne_verte {
    padding: 2px 30px;
    background-color: var(--Tertiaire);
    margin-top: 55px;
    position: absolute;
    margin-left: 10px;
  }
  
  .menu_restos h3 {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 17px;
  }

  
  .menu_restos {
    width: 92%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
  }
  
  .menus_conteneur {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  .fa-check {
    margin-left: 14px;
  }  

  
  
  
  /*Footer*/
  footer { 
    padding-left: 25px;  
  }
  

  footer img {
    width: 30%;
  }
  
  }